[submodule "isserver1/apps-preview"]
	path = isserver1/apps-preview
	url = git@github.com:isserver1/apps-preview.git
[submodule "OCA/crm"]
	path = OCA/crm
	url = git@github.com:OCA/crm.git
	branch = 16.0
