[submodule "isserver1/apps-preview"]
	path = isserver1/apps-preview
	url = git@github.com:isserver1/apps-preview.git
	branch = 16.0

[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 16.0
