.color-codes {
    .color-codes-box {
        width: 18px !important;
        height: 10px !important;
        display: inline-flex;
        white-space: nowrap !important;
        padding: 0px 0px;
        margin: 0px 2px;
        border: 0;
        cursor: pointer;
    }
    .color-codes-box-edit { border: 1px dotted green }
}
.color-code-tooltip {
    min-width: 200px;
    display: flex;
    flex-direction: column;

    .color-code-tooltip-box {
        padding-top: 3px;
        flex: 1;
        display: flex;

        .color-code-tooltip-circle { width: 10% }
        .color-code-tooltip-note { width: 90% }
    }
    .color-code-tooltip-box:not(.color-code-tooltip-box-manage):hover { background-color: #f8f9fa }
    .color-code-tooltip-box-manage {
        button { margin-left: auto }
    }
}


// div.color_code_many2one {display: flex;}
